/* lavender
fuchsia
* {font-family: fangsong;}
.container * {color: yellowgreen;}
*/

* {margin: 10px;}
* {font: aileron-thin;}


img {
    border: 10px solid lavender;
}

div {
    display: inline-grid;
    text-align: left;
    width: 50%;
    height: 50%;
    background: lavender;
    padding: 10px;
}

font {

}